.row{
    display: flex;
    flex-direction: row-reverse;
 
}
.path{
    font-family:  Calibri;
    font-size: 1.5vw;
    text-decoration: none;
    color:black;
    margin-left:0.5vw;
}
.buttomBorder{
    margin-right:5%;
    width:50%;
 margin-left: auto;
}