.container{
overflow-x: hidden;
}
.header{
    font-size: 5vh;
    font-weight: lighter;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin-top:2%;
    margin-bottom: 2%;

}
.arrived{
    width:90%;
    display: flex;
    justify-content: center;
    margin-left:5%;
    font-size:2vw;
    font-family:'Times New Roman', Times, serif;
    padding-top:5vw 
}
.explain{
    font-size: 1.5vw;
    font-weight: lighter;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom:1%;
    margin-top:1%;
}
.image{
width:35vw;
height:35vw;
border-radius: 2%;
margin: 1vw auto;

}
.centered{
    width:100%;
    display: flex;
    justify-content: center;

}
.center{
    text-align: center;
    width:90%;
    margin:  0 auto;
   
        
        font-size:3vw;
       font-weight:lighter;
       font-family:serif;
       text-align: center;
       margin-bottom:3%;
       margin-top:3%;

}
@media only screen and (min-width: 220px) and (max-width:415px) {
    .container{
        overflow-x: hidden;
        }
        .header{
            font-size:6vw;
            font-weight: lighter;
            font-family:'Times New Roman', Times, serif;
            text-align: center;
            margin-top:2%;
            margin-bottom: 2%;
        
        }
        .arrived{
            width:100%;
            display: flex;
            justify-content: center;
            margin: 5vw auto;
            font-size:4vw;
            font-family:'Times New Roman', Times, serif;
         
        }
       
        .explain{
            font-size: 3.5vw;
            font-weight: lighter;
            font-family:'Times New Roman', Times, serif;
            text-align: center;
           margin:1% auto;
           width:80%;
        }
        .image{
        width:50vw;
        height:50vw;
        border-radius: 2%;
        margin: 1vw auto;
        
        }
        .centered{
            width:100%;
            display: flex;
            justify-content: center;
        
        }
        .center{
            text-align: center;
            width:100%;
            margin:  0 auto;
           
                
                font-size:4.5vw;
               font-weight:lighter;
               font-family:serif;
               text-align: center;
               margin-bottom:3%;
               margin-top:3%;
        
        }
}
@media only screen and (min-width: 415px) and (max-width: 720px) {
    .container{
        overflow-x: hidden;
        }
        .header{
            font-size:6vw;
            font-weight: lighter;
            font-family:'Times New Roman', Times, serif;
            text-align: center;
            margin-top:2%;
            margin-bottom: 2%;
        
        }
        .arrived{
            width:100%;
            display: flex;
            justify-content: center;
            margin: 5vw auto;
            font-size:4vw;
            font-family:'Times New Roman', Times, serif;
         
        }
       
        .explain{
            font-size: 3.5vw;
            width:60%;
            margin:1% auto;
            font-weight: lighter;
            font-family:'Times New Roman', Times, serif;
            text-align: center;

        }
        .image{
        width:50vw;
        height:50vw;
        border-radius: 2%;
        margin: 1vw auto;
        
        }
        .centered{
            width:100%;
            display: flex;
            justify-content: center;
        
        }
        .center{
            text-align: center;
            width:100%;
            margin:  0 auto;
           
                
                font-size:4.5vw;
               font-weight:lighter;
               font-family:serif;
               text-align: center;
               margin-bottom:3%;
               margin-top:3%;
        
        }
  }

  @media only screen and (min-width: 720px) and (max-width:850px) {
    .container{
        overflow-x: hidden;
        }
        .header{
            font-size:6vw;
            font-weight: lighter;
            font-family:'Times New Roman', Times, serif;
            text-align: center;
            margin-top:2%;
            margin-bottom: 2%;
        
        }
        .arrived{
            width:100%;
            display: flex;
            justify-content: center;
            margin: 5vw auto;
            font-size:3vw;
            font-family:'Times New Roman', Times, serif;
         
        }
       
        .explain{
            font-size: 3vw;
            width:60%;
            margin:1% auto;
            font-weight: lighter;
            font-family:'Times New Roman', Times, serif;
            text-align: center;

        }
        .image{
        width:40vw;
        height:40vw;
        border-radius: 2%;
        margin: 1vw auto;
        
        }
        .centered{
            width:100%;
            display: flex;
            justify-content: center;
        
        }
        .center{
            text-align: center;
            width:100%;
            margin:  0 auto;
           
                
                font-size:3.5vw;
               font-weight:lighter;
               font-family:serif;
               text-align: center;
               margin-bottom:3%;
               margin-top:3%;
        
        }
  }
  @media only screen and (min-width: 850px) and (max-width:1020px) {
    .container{
        overflow-x: hidden;
        }
        .header{
            font-size:5vw;
            font-weight: lighter;
            font-family:'Times New Roman', Times, serif;
            text-align: center;
            margin-top:2%;
            margin-bottom: 2%;
        
        }
        .arrived{
            width:100%;
            display: flex;
            justify-content: center;
            margin: 5vw auto;
            font-size:2.5vw;
            font-family:'Times New Roman', Times, serif;
         
        }
       
        .explain{
            font-size: 2.5vw;
            width:60%;
            margin:1% auto;
            font-weight: lighter;
            font-family:'Times New Roman', Times, serif;
            text-align: center;

        }
        .image{
        width:40vw;
        height:40vw;
        border-radius: 2%;
        margin: 1vw auto;
        
        }
        .centered{
            width:100%;
            display: flex;
            justify-content: center;
        
        }
        .center{
            text-align: center;
            width:100%;
            margin:  0 auto;
           
                
                font-size:3vw;
               font-weight:lighter;
               font-family:serif;
               text-align: center;
               margin-bottom:3%;
               margin-top:3%;
        
        }
  }
  @media only screen and (min-width: 1020px) and (max-width:1300px) {
    .container{
        overflow-x: hidden;
        }
        .header{
            font-size:4vw;
            font-weight: lighter;
            font-family:'Times New Roman', Times, serif;
            text-align: center;
            margin-top:2%;
            margin-bottom: 2%;
        
        }
        .arrived{
            width:100%;
            display: flex;
            justify-content: center;
            margin: 5vw auto;
            font-size:2vw;
            font-family:'Times New Roman', Times, serif;
         
        }
       
        .explain{
            font-size: 2vw;
            width:60%;
            margin:1% auto;
            font-weight: lighter;
            font-family:'Times New Roman', Times, serif;
            text-align: center;

        }
        .image{
        width:40vw;
        height:40vw;
        border-radius: 2%;
        margin: 1vw auto;
        
        }
        .centered{
            width:100%;
            display: flex;
            justify-content: center;
        
        }
        .center{
            text-align: center;
            width:100%;
            margin:  0 auto;
           
                
                font-size:2vw;
               font-weight:lighter;
               font-family:serif;
               text-align: center;
               margin-bottom:3%;
               margin-top:3%;
        
        }
  }